* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  font-family: "Inter";
}
a {
  color: inherit;
}
.navbar {
  color: #010101;
  height: 80px;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  position: sticky;
}

svg.logo {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  width: 100px;
}

label.logo {
  line-height: 60px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.navbar ul {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.navbar li {
  display: inline-block;
  margin: 10px 10px 0 10px;
  font-size: 20px;
}

li {
  list-style: none;
}

.button {
  background-color: #f4f4f4;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 35px;
  width: auto;
  padding: 0 20px;
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  background-color: #010101;
  color: #f4f4f4;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 35px;
  width: auto;
  padding: 0 20px;
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.menu-line {
  height: 3px;
  width: 20px;
  background-color: darkslateblue;
  margin-bottom: 3px;
}

.menu {
  cursor: pointer;
  display: none;
}

.hero {
  height: 85vh;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-content: stretch;
  font-size: 370%;
}

.left {
  padding-left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
img.hero-image {
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  nav {
    flex-direction: column;
  }

  .navbar {
    width: auto;
  }
  nav li {
    display: block;
    padding: 10px 0;
  }
  ul {
    text-align: center;
    padding: 0;
    display: none;
  }

  .logo {
    align-self: flex-start;
    margin: 10px 0px 0px 30px;
  }

  .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .showmenu {
    display: block;
  }

  .hero {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    font-size: 250%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  img.hero-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  .badge {
    font-size: 5px;
    position: absolute;
    top: 7px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
  }
}

.badge {
  font-size: 18px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  margin-left: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 5px;
  border-color: black;
  max-width: fit-content;
  background-color: #ffffff;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  backdrop-blur: blur(8px);
}

.badge:hover {
  background-color: #f4f4f4;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: absolute;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 35px;
  width: auto;
  padding: 0 20px;
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  color: white;
  text-align: center;
}